<% include partials/_header %>

  <!--Contenido-->
  <!-- Content Wrapper -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box" style="height:490px;">
            <div class="box-header with-border">
              <h3 class="box-title" id="titulo">Archivos</h3>
            </div>
            <div class="box-body" id="cuerpo">
                <div class="row">
                    <div class="col-12 col-md-4 card card-body ml-4">
                        <form action="/admin/files/upload" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Nombre del archivo">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="description" id="description" placeholder="Descripción del archivo">
                            </div>
                            <div class="form-group" style="display:block;" id="file">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="upload">Cargar</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="file"
                                        aria-describedby="upload">
                                        <label class="custom-file-label" for="file">Seleccione el archivo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4">
                                <select name="file_type" id="file_type" class="form-control" style="display:block;">
                                    <option value="0">Seleccione un tipo</option>
                                    <option value="img">Imagen</option>
                                    <option value="vid">Video</option>
                                    <option value="gen">Genérico</option>
                                </select>
                            </div>
                            <div class="row mt-4">
                                <input type="submit" class="btn btn-custom mx-auto" value="Guardar" style="display:block;" id="guardar">
                            </div>
                            <div class="row mt-1">
                                <button onclick="actualizarArchivo()" class="btn btn-success mx-auto" style="display:none;" id="actualizar">Actualizar</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-6 mx-auto">
                        <div class="row">
                            <h3 class="mx-auto">Galería de  archivos</h3>
                        </div>
                        <div class="row">
                            <div id="carouselFiles" class="carousel slide mx-auto" data-ride="carousel" style="width:80%">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="../img/logo-1.png" class="d-block w-100" alt="...">
                                    </div>
                                    <% for(var i = 0; i < files.length; i++) { %>
                                        <div class="carousel-item" id="<%=files[i]._id%>">
                                            <img src="<%=files[i].file_path%>" class="d-block w-100 rounded"
                                            alt="<%=files[i].name%>">
                                            <hr>
                                            <div class="row">
                                                <div class="col-12 col-md-4">
                                                    <label><b>Nombre:</b> <%=files[i].name%></label>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <label><b>Descripción:</b> <%=files[i].description%></label>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <label><b>Shortcut:</b> <%=files[i].shortcut%></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mx-auto">
                                                    <button class="btn btn-info" title="Tipo de archivo: Imagen">
                                                        <span class="fas fa-image"></span>
                                                    </button>
                                                    <button class="btn btn-success" title="Editar"
                                                    onclick="editarArchivo('<%=files[i]._id%>')">
                                                        <span class="fas fa-edit"></span>
                                                    </button>
                                                    <button class="btn btn-danger" title="Eliminar"
                                                    onclick="eliminarArchivo('<%=files[i]._id%>')">
                                                        <span class="fas fa-trash-alt"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                                <a class="carousel-control-prev" href="#carouselFiles" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Anterior</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselFiles" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Siguiente</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--Fin-Contenido-->

<% include partials/_footer %>