<% include partials/_header %>

  <!--Contenido-->
  <!-- Content Wrapper -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box" style="height:490px;">
            <div class="box-header with-border">
              <h3 class="box-title" id="titulo">Archivos</h3>
            </div>
            <div class="box-body" id="cuerpo">
                <div class="row">
                    <div class="col-12 col-md-4 card card-body ml-4">
                        <form action="/admin/files/upload" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Nombre del archivo">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="description" placeholder="Descripción del archivo">
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="upload">Cargar</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="file" name="file"
                                        aria-describedby="upload">
                                        <label class="custom-file-label" for="file">Seleccione el archivo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4">
                                <select name="file_type" class="form-control">
                                    <option value="0">Seleccione un tipo</option>
                                    <option value="img">Imagen</option>
                                    <option value="vid">Video</option>
                                    <option value="gen">Genérico</option>
                                </select>
                            </div>
                            <div class="row mt-4">
                                <input type="submit" class="btn btn-custom mx-auto" value="Guardar">
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-6 mx-auto">
                        <div class="row">
                            <h3 class="mx-auto">Galería de  archivos</h3>
                        </div>
                        <!--<div class="row">
                            <div class="col-4">
                                <button type="button" class="btn btn-custom">Galería de Fotos</button>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-custom">Galería de Videos</button>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-custom">Galería de Archivos</button>
                            </div>
                        </div>-->
                        <div class="row">
                            <div id="carouselFiles" class="carousel slide mx-auto" data-ride="carousel" style="width:80%">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="../img/logo-1.png" class="d-block w-100" alt="...">
                                    </div>
                                    <% for(var i = 0; i < files.length; i++) { %>
                                        <div class="carousel-item">
                                            <img src="<%=files[i].file_path%>" class="d-block w-100"
                                            alt="<%=files[i].name%>">
                                            <div class="row">
                                                <div class="col-12 col-md-4">
                                                    <label>Nombre: <%=files[i].name%></label>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <label>Descripción: <%=files[i].description%></label>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <label>Shortcut: <%=files[i].shortcut%></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <a href="/admin/files/<%=files[i]._id%>/delete"
                                                    class="btn btn-danger mx-auto" title="Eliminar">
                                                    <span class="fas fa-trash-alt"></span>
                                                </a>
                                            </div>
                                        </div>
                                    <% } %>
                                    <!--<div class="carousel-item active">
                                        <img src="..." class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="..." class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="..." class="d-block w-100" alt="...">
                                    </div>-->
                                </div>
                                <a class="carousel-control-prev" href="#carouselFiles" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Anterior</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselFiles" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Siguiente</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--Fin-Contenido-->

<% include partials/_footer %>