<% include partials/_header %>

    <!--Contenido-->
    <!-- Content Wrapper -->
    <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
        <div class="col-md-12">
            <div class="box" style="height:490px;">
            <div class="box-header with-border">
                <h3 class="box-title" id="titulo">Usuarios</h3>
            </div>
            <div class="box-body" id="cuerpo">
                <div class="row">
                    <div class="col-4 mx-auto">
                        <table class="table table-borderless table-hover">
                            <tr>
                                <td><a href="#" class="btn btn-custom" style="width:200px;" data-toggle="modal" data-target="#modalCrearUsuario">Crear usuario</a></td>
                                <td><a href="#" class="btn btn-custom" style="width:200px;" data-toggle="modal" data-target="#modalCrearRol">Crear rol</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 mx-auto">
                        <table class="table table-borderless table-hover table-sm">
                            <thead>
                                <td><b>Usuario</b></td>
                                <td><b>Nombre</b></td>
                                <td><b>Apellido</b></td>
                                <td><b>Email</b></td>
                                <td><b>Rol</b></td>
                                <td><b>Eliminar</b></td>
                            </thead>
                            <tbody id="cuerpo-tabla">
                                <% for(var i = 0; i < users.length; i++) { %>
                                    <tr id="<%=users[i]._id%>">
                                        <td><%=users[i].local.user_name%></td>
                                        <td><%=users[i].local.first_name%></td>
                                        <td><%=users[i].local.last_name%></td>
                                        <td><%=users[i].local.email%></td>
                                        <td><%=users[i].local.user_type%></td>
                                        <td>
                                            <button onclick="eliminarUsuario('<%=users[i]._id%>')" class="btn btn-danger"
                                            title="Eliminar" style="font-size:7px;"><span class="fas fa-trash-alt"></span>
                                            </button>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
    </div>
    <!--Fin-Contenido-->

    <!-- Pantalla modal Crear Usuario -->
    <div class="modal fade" id="modalCrearUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                <img src="../img/logo-2.png" alt="logo-2" class="mx-auto">
                </div>
                <div class="row">
                <form class="card card-body m-2">
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre" name="first_name" id="first_name">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Apellido" name="last_name" id="last_name">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Usuario" name="user_name" id="user_name">
                    </div>
                    <div class="form-group">
                    <input type="email" class="form-control" placeholder="Correo" name="email" id="email">
                    </div>
                    <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña" name="password" id="password">
                    </div>
                    <div class="form-group">
                    <select class="form-control" name="user_type" id="user_type">
                        <option value="0">Tipo de usuario</option>
                        <option value="admin">Adminsitrador</option>
                        <option value="generico">Genérico</option>
                    </select>
                    </div>
                    <div class="row">
                    <button type="button" class="btn btn-custom ml-auto mr-2 btn-custom-w" onclick="crearUsuario()" data-dismiss="modal">Registar Usuario</button>
                    <button class="btn btn-danger mr-auto btn-custom-w" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- Pantalla modal Crear Rol -->
    <div class="modal fade" id="modalCrearRol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <img src="../img/logo-2.png" alt="logo-2" class="mx-auto">
                </div>
                <div class="row">
                    <form class="card card-body m-2">
                        <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre Rol">
                        </div>
                        <div class="form-group">
                        <textarea class="form-control" placeholder="Descripción" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                        <h6 align="center">Seleccione páginas de acceso permitidas</h6>
                        <select multiple class="form-control">
                            <option>Página 1</option>
                            <option>Página 2</option>
                            <option>Página 3</option>
                        </select>
                        </div>
                        <div class="row">
                        <button class="btn btn-custom mx-auto" data-dismiss="modal">Crear rol</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>

<% include partials/_footer %>